legend {margin-top: 30px;}
.clear {clear: both;}
.custom-page-header {margin: auto; background: white; padding: 20px; max-width: 970px;}
.navbar-fixed-top {left: none; right: none;}
#race-number-form {margin-top: 120px;}
.container {max-width: 970px; margin: auto;}
.spaced-bottom {margin-bottom: 20px;}